body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    background-color: #e2e2e2;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    /* font-family: 'Codystar', cursive; */
}
.buttons-container {
    display: flex;   
    justify-content: space-around;
}
.mpc {
    width: 274px;
    height: 194px;
    background-image: url(mpc.png);
}
.mpc-frame {
    margin: 37px 18px 25px 18px;
    width: 238‬px;
    height: 132px;
    border: 1px solid green; 
}
.drum-buttons-section {
    /* display: flex;
    flex-direction: row; */
    /* width: 128px;
    height: 132px; */
    /* Odjąć parddingi */
    width: 108px;
    height: 114px;
    padding: 10px 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.drum-buttons-row-1, .drum-buttons-row-2, .drum-buttons-row-3 {
    width: 110px;
    display: flex;
    justify-content: space-evenly;
}
.drum-button {
    width: 26px;
    height: 26px;
    background-image: url(drum-button.jpg);
    margin: 4px;
    flex-wrap: nowrap;
    transition: all .07s;
}
/* Przyciski rozjerzaja sie na kosoli wiec musialem cos takiego dac :(  */
.mpc-btn-2, .mpc-btn-5, .mpc-btn-8 {
    margin: 4px 8px;
}
/* koniec tego brzydkiego kod */
.playing {
    background-image:
        linear-gradient(rgb(141, 141, 141), rgb(141, 141, 141)), 
        url(drum-button.jpg);
    transform: scale(1.0);
}
.circle {
    border-radius: 50%;
    background-color: #d4d5d9;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    margin-top: -52px;
}
.circle-playing {
    animation: scaleIn .07s 1 cubic-bezier(.50,.50,.50,.50);
}
  @keyframes scaleIn {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }